{% extends 'base.html' %}
{% load static %}

<head>
    {% block head %}
    <title>Easy Life - Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    {% endblock %}

</head>
<body>

    <header class="header-dashboard">
        <a href="" class="back-button">← BEM-VINDO(A)</a>
        <span class="user-greeting">Olá,  </span>
    </header>

    <main class="main-content-dashboard">
        {% block main %}
        <section class="logo-section">
            <div class="easy-life-box">
                <div class="easy-life-text">
                    <span class="ribbon">EASY LIFE</span>
                    <p class="subtitle">Calculadora de Gastos</p>
                </div>
                <img src="{% static 'logo.png' %}" alt="Porquinho-cofre com cartola e calculadora" class="piggy-image">
            </div>
        </section>
        
        <section class="options-menu">
            <button class="options-button">
                OPÇÕES <span class="icon">≡</span>
            </button>
        </section>

        <section class="category-buttons-grid">
            <a href="" class="category-button">
                CASA <span></span>
            </a>
            <a href="" class="category-button">
                EDUCAÇÃO
            </a>

            <a href="" class="category-button">
                ALIMENTAÇÃO
            </a>
            <a href="" class="category-button">
                EXTRAS
            </a>

            <a href="" class="category-button">
                SAÚDE & BELEZA <span></span>
            </a>
            <a href="" class="category-button">
                COMPARAR
            </a>

            <a href="" class="category-button full-width-button">
                TRANSPORTE
            </a>
        </section>
        {% endblock %}
    </main>

</body>
</html>