{% extends 'base.html' %}
{% load static %}

<head>
    {% block head %}
    <title>Easy Life - Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    {% endblock %}
</head>

<body>

    <header class="header-dashboard">
        <a href="" class="back-button">← BEM-VINDO(A)</a>
        <span class="user-greeting">Olá,  </span>
    </header>

    <main class="main-content-dashboard">
        {% block main %}
        <section class="logo-section">
            <div class="easy-life-box">
                <div class="easy-life-text">
                    <span class="ribbon">EASY LIFE</span>
                    <p class="subtitle">Calculadora de Gastos</p>
                </div>
                <img src="{% static 'logo.png' %}" alt="Porquinho-cofre com cartola e calculadora" class="piggy-image">
            </div>
        </section>
        
        <div>
            <a href="{% url 'exibir_perfil' %}" >Exibir perfil</a>
        </div>

        <section class="options-menu">
            <button class="options-button">
                OPÇÕES <span class="icon">≡</span>
            </button>
        </section>

        <section class="category-buttons-grid">
            <a href="{% url 'calculos' %}#casa" class="category-button">
                CASA <span></span>
            </a>
            <a href="{% url 'calculos' %}#educacao" class="category-button">
                EDUCAÇÃO
            </a>

            <a href="{% url 'calculos' %}#alimentacao" class="category-button">
                ALIMENTAÇÃO
            </a>
            <a href="{% url 'calculos' %}#extras" class="category-button">
                EXTRAS
            </a>

            <a href="{% url 'calculos' %}#saude_e_beleza" class="category-button">
                SAÚDE & BELEZA <span></span>
            </a>
            <a href="{% url 'comparacao' %}" class="category-button">
                COMPARAR
            </a>

            <a href="{% url 'calculos' %}#transporte" class="category-button full-width-button">
                TRANSPORTE
            </a>
        </section>
        <div>
            <p class="no-account-text">Sem uma categoria especifica:</p>
            <a href="{% url 'calculos' %}" >Calcular</a>
               
        </div>
        <div class="info-field">
            <a href="{% url 'logout' %}" class="action-button">Sair</a>
       </div>
        {% endblock %}
    </main>

</body>
</html>