{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Easy Life - Cadastro</title>
    <link rel="stylesheet" href="styles.css"> 
{% endblock %}

<body>

    <main class="auth-container">
        {% block main %}
        <div class="login-column">
            <div class="login-content">
                <img src="{% static 'logo.png' %}" alt="Porquinho-cofre" class="piggy-image">
                <h1 class="login-title">BEM-VINDO(A)<br>DE VOLTA!</h1>
                <p class="login-text">
                    Entre diretamente com o login que já fez
                </p>
                <a href="http://127.0.0.1:8000/usuario/login/">
                            <link-button type="submit" class="button-primary-3">Entrar</button>
                          </a>
            </div>
        </div>

        <div class="register-column">
            <div class="register-content">
                <h2 class="register-title">CRIAR CONTA</h2>
                <p class="register-subtitle">Use seu email para registrar</p>
                
                <form class="register-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Nome" class="form-input" required>
                    <input type="email" name="email" placeholder="Email" class="form-input" required>
                    <input type="password" name="password" placeholder="Senha" class="form-input" required>
                    <input type="password" name="password_confirm" placeholder="Confirme a Senha" class="form-input" required>
                    <label for="picture" style="margin-top: 10px; font-weight: bold;">Foto de Perfil:</label>
                    <input type="file" name="picture" accept="image/*" class="form-input">
                    <button type="submit" class="button-secondary-3">Criar conta</button>
                </form>
            </div>
        </div>
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p> oii</p>
        {% endblock %}
    </footer>
    
</body>
</html>