{% extends 'base.html' %}
{% load static %}

<head>
    {% blcok head %}
    <title>Controle de Despesas</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="">
    <link rel="preconnect" href="" crossorigin>
    <link href="" rel="stylesheet">
{% endblock %}
</head>
<body>

    <main>
        {% block main %}
    <div class="container">
        <div class="section">
            <h2 class="section-title">SALÁRIO </h2>
            <div class="card">
                <h3>CARTEIRA WALLET</h3>
                </div>
        </div>

        <div class="section">
            <h2 class="section-title">CASA </h2>
            <div class="card">
                <div class="content-wrapper">
                    <div class="form-inputs">
                        <label>Aluguel:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Água:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Luz:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Gás:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Internet:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Telefone:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Serviços e Prestações:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Outros:</label>
                        <input type="number" placeholder="R$ 0,00">
                    </div>
                    <div class="stats">
                        <h3>ESTATÍSTICAS</h3>
                        <div class="chart-placeholder"></div>
                        <ul class="legend">
                            <li>■ Aluguel</li>
                            <li>■ Contas Fixas</li>
                            <li>■ Serviços</li>
                            <li>■ Outros</li>
                        </ul>
                    </div>
                </div>
                <div class="total-cost">
                    GASTO TOTAL: R$ 0,00
                </div>
            </div>
        </div>

        <div class="section">
            <h2 class="section-title">ALIMENTAÇÃO 🛡</h2>
            <div class="card">
                <div class="content-wrapper">
                    <div class="form-inputs">
                        <label>Mercado:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Fora de Casa:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Happy Hour:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Padaria:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Açougue:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Outros:</label>
                        <input type="number" placeholder="R$ 0,00">
                    </div>
                    <div class="stats">
                        <h3>ESTATÍSTICAS</h3>
                        <div class="chart-placeholder"></div>
                        <ul class="legend">
                            <li>■ Mercado</li>
                            <li>■ Fora de Casa</li>
                            <li>■ Happy Hour</li>
                            <li>■ Padaria</li>
                            <li>■ Açougue</li>
                            <li>■ Outros</li>
                        </ul>
                    </div>
                </div>
                <div class="total-cost">
                    GASTO TOTAL: R$ 0,00
                </div>
            </div>
        </div>

        <div class="section">
            <h2 class="section-title">TRANSPORTE </h2>
            <div class="card">
                <div class="content-wrapper">
                    <div class="form-inputs">
                        <label>Transporte público:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Gasolina:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Manutenção:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Seguro:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>App de transporte:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Outros:</label>
                        <input type="number" placeholder="R$ 0,00">
                    </div>
                    <div class="stats">
                        <h3>ESTATÍSTICAS</h3>
                        <div class="chart-placeholder"></div>
                        <ul class="legend">
                            <li>■ Transporte público</li>
                            <li>■ Gasolina</li>
                            <li>■ Manutenção</li>
                            <li>■ Seguro</li>
                            <li>■ App de transporte</li>
                            <li>■ Outros</li>
                        </ul>
                    </div>
                </div>
                <div class="total-cost">
                    GASTO TOTAL: R$ 0,00
                </div>
            </div>
        </div>

        <div class="section">
            <h2 class="section-title">BELEZA E SAÚDE </h2>
            <div class="card">
                <div class="content-wrapper">
                    <div class="form-inputs">
                        <label>Remédios:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Plano de Saúde:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Psicólogo:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Produtos de higiene:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Academia:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Salão/Barbearia:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Outros:</label>
                        <input type="number" placeholder="R$ 0,00">
                    </div>
                    <div class="stats">
                        <h3>ESTATÍSTICAS</h3>
                        <div class="chart-placeholder"></div>
                        <ul class="legend">
                           <li>■ Remédios</li>
                           <li>■ Plano de Saúde</li>
                           <li>■ Produtos de higiene</li>
                           <li>■ Cuidados Pessoais</li>
                           <li>■ Outros</li>
                        </ul>
                    </div>
                </div>
                <div class="total-cost">
                    GASTO TOTAL: R$ 0,00
                </div>
            </div>
        </div>

        <div class="section">
            <h2 class="section-title">EDUCAÇÃO </h2>
            <div class="card">
                <div class="content-wrapper">
                    <div class="form-inputs">
                        <label>Mensalidade:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Cursos:</label>
                        <input type="number" placeholder="R$ 0,00">
                        <label>Outros:</label>
                        <input type="number" placeholder="R$ 0,00">
                    </div>
                    <div class="stats">
                        <h3>ESTATÍSTICAS</h3>
                        <div class="chart-placeholder"></div>
                        <ul class="legend">
                            <li>■ Mensalidade</li>
                            <li>■ Cursos</li>
                            <li>■ Outros</li>
                        </ul>
                    </div>
                </div>
                <div class="total-cost">
                    GASTO TOTAL: R$ 0,00
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    </main>

</body>
</html>