{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Criar Plano</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

{% endblock %}

{% block header%}
    <header class="header-plano">
    <a href="{% url 'exibir_perfil' %}" class="back-button-cr-pl">←</a>
    <h1 class="title-criar-plano">PLANO</h1>
    </header>
{% endblock %}

{% block main %}
    <main class="content-criar-plano">
    
    <h2 class="title-assinar">Assinar o plano {{ plano.nome }}</h2>

    <p><strong>Valor:</strong> R$ {{ plano.valor }}</p>
    <p><strong>Prazo:</strong> Ate {{ plano.prazo }}</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="button-success-assinar">Assinar Plano</button>
    </form>
    </main>
{% endblock %}