{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Easy Life - Histórico</title>
    <link rel="stylesheet" href="styles.css"> 
{% endblock %}

<body>
    {% block header %}
    <header class="header-history">
        <a href="{% url 'boas_vindas' %}" class="back-button-historico">←</a>
        <h1 class="history-title">HISTÓRICO</h1>
    </header>
    {% endblock %}

    {% block main %}
    <main class="main-content-history">
        <div class="top-controls">
            <form method="POST" action="" onsubmit="return confirm('Tem certeza que quer apagar todo o histórico? Essa açao é irreversivel');">
            {% csrf_token %}
            <button type="submit" class="control-button delete-button">
            EXCLUIR HISTÓRICO
            </button>
            </form>
        </div>

        <div class="history-list">
            <div class="history-header">
                <span class="column-name">NOME</span>
                <span class="column-date">DATA</span>
                <span class="column-value">TOTAL DESPESAS</span>
                <span class="column-value">SALARIO FINAL</span>
                
            </div>

            {% for calculo in calculos %}
                <a href="#" class="history-item-link"> {# Link para detalhes futuros #}
                    <div class="history-item">
                        <span class="item-name">Cálculo de {{ calculo.data_criacao|date:"d/m/Y" }}</span>
                        <span class="item-date">{{ calculo.data_criacao|date:"d/m/Y" }}</span>
                        <span class="item-value {% if calculo.total_despesas > 0 %}text-success{% else %}text-danger{% endif %}">
                            R$ {{ calculo.total_despesas|floatformat:2 }}</span>
                        <span class="item-value {% if calculo.resultado_final > 0 %}text-success{% else %}text-danger{% endif %}">
                            R$ {{ calculo.resultado_final|floatformat:2 }}</span>
                        
                    </div>
                </a>
            {% empty %}
                <div class="history-item-empty">
                    <p>Você ainda não possui cálculos salvos.</p>
                    <a href="{% url 'calculos' %}" class="aviso-historico">Clique aqui para fazer o primeiro!</a>
                </div>
            {% endfor %}

            </div>
    </main>
{% endblock %}

    <footer>
        {% block footer %}
        <p> oii</p>
        {% endblock %}
    </footer>

</body>
</html>