{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Easy Life - Login</title>
    <link rel="stylesheet" href="styles.css">
{% endblock %}

<body>

    <main class="login-container-2">
    {% block main %}
        <h1 class="welcome-title">BEM-VINDO</h1>
        
        <div class="login-box">
            <h2 class="login-title">LOGIN</h2>
            
            <form class="login-form">
                <div class="dashed-border">
                    <div class="input-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="">
                    </div>
                    
                    <div class="input-group">
                        <label for="password">Senha:</label>
                        <input type="password" id="password" name="password" placeholder="">
                    </div>
                    
                    <div class="form-footer">
                        <a href="http://127.0.0.1:8000/usuario/login/">
                            <link-button type="submit" class="button-primary-2">Entrar</button>
                          </a>

                        <p class="no-account-text">Não tem conta?</p>

                        <a href="http://127.0.0.1:8000/usuario/cadastrar/">
                            <link-button type="submit" class="button-secondary-2">Criar conta</button>
                          </a>
                    </div>
                </div>
            </form>
        </div>
    {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <p> oii</p>
        {% endblock %}
    </footer>

</body>
</html>