{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Easy Life - Perfil</title>
    <link rel="stylesheet" href="styles.css"> </head>
{% endblock %}

    <main class="profile-container">
        {% block main %}
        <a href="{% url 'boas_vindas' %}" class="back-button">←</a>
        <h1 class="profile-title">SEU PERFIL</h1>

        <section class="profile-photo-section">
            <h2 class="section-subtitle">Foto de perfil</h2>
            <div class="photo-area">
                <div class="photo-placeholder">
                    {% if usuario.picture %}
                        <img src="{{ usuario.picture.url }}" alt="Foto de Perfil" class="profile-picture">
                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" fill="#000"/>
                        </svg>
                    {% endif %}
                </div>
                <div class="photo-buttons">
                    <button class="action-button">Alterar foto</button>
                    <button class="action-button">Remover foto</button>
                </div>
            </div>
        </section>

        <section class="profile-info-section">
            <div class="info-field">
                <label for="name">Nome:</label>
                <div class="input-and-button">
                    <input type="text" id="name" name="name" value="{{ usuario.user.username }}" disabled>
                    <button class="edit-button">Editar</button>
                </div>
            </div>

            <div class="info-field">
                <label for="email">Email:</label>
                <div class="input-and-button">
                    <input type="email" id="email" name="email" value="{{ usuario.user.email }}" disabled>
                    <button class="edit-button">Editar</button>
                </div>
            </div>
            
            <div class="info-field">
                <label for="password">Senha:</label>
                <div class="input-and-button">
                    <input type="password" id="password" name="password" value="********" disabled>
                    <button class="edit-button">Editar</button>
                </div>
            </div>
        </section>
        <div class="info-field">
            <a href="{% url 'logout' %}" class="action-button">Sair</a>
       </div>
       <div class="info-field" style="margin-top: 20px; text-align: center;">
        <form action="{% url 'excluir_usuario' %}" method="post" onsubmit="return confirm('Tem certeza que deseja excluir sua conta? Esta ação é irreversível.');">
            {% csrf_token %}
            <button type="submit" class="action-button delete-button">Excluir usuario</button>
        </form>
    </div>
        {% endblock %}
    </main>

</body>
</html>