{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="home-container">

                {% block nav %}
                {% endblock %}



                {% block header %}
                {% endblock %}

            <main>
                {% block main %}
                {% endblock %}
            </main>
            
            <footer class="footer_base">
                {% block footer %}
                <p>© 2025 EasyLife — Todos os direitos reservados</p>
                {% endblock %}
            </footer>
        </div>
        <script src="{% static 'script.js' %}" defer></script>
    </body>

    
</html>